*{	
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;
    /* 不允许选择页面上的内容 */
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.box{
	position:absolute;
	width:100%;
	height:100%;
}
.content{
	position:absolute;
	background:#8DD397;
	width:100%;
	height:100%;
	cursor: default;
	overflow:hidden;
}
#header-content{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index:666;
}
#header{
	position:absolute;
	width:100%;
	height:100%;
}
h1.title{
	text-align:center;
	font-size:6.6vw;
}
.nav{
	text-align:center;
}
.nav li{
	margin:10px;
	font-size:2.6vw;
	display:inline-block;
}
/* 菜单的变换 */
.test>div{
	top:80px !important;
}
.test>div>h1{
	font-size:40px !important;
}
.test>div>.nav li{
	font-size:20px !important;
}
.test div.xia{
	opacity:0;
	top:50px !important;
	display: none;
}
.xia{
	position:absolute;
	top:85%;
	left:50%;
	transform: translate(-50%,-50%);
}
.xia img{
	width:80px;
}
.wrapper{
	position:relative;
}
.test-mask{
	display:block;
	position: absolute;
	top:50%;
	left:50%;
	width:940px;
	height:450px;
	line-height:450px;
	margin-top:-200px;
	margin-left:-470px;
	float:left;
	overflow:inherit;
}
.container{
	height:100%;
	width:auto;
}
.h-kuai{
	float:left;
	height:100%;
	width:225px;
	padding: 0 5px;
	/*background:red;*/
}
.kuai{
	float:left;
	background:blue;
	width:100%;
	margin-bottom:10px;
}
.kuai_xiao>.cont{
	height:140px;/* 因为上层加了一个margin所以这里的长度-10 */
}
.kuai_da>.cont{
	height:290px;
}
.none{
	display: none;
}