*{	
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;
    /* 不允许选择页面上的内容 */
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.box{
	position:absolute;
	width:100%;
	height:100%;
}
.content{
	background:#8DD397;
	width:100%;
	height:100%;
	cursor: default;
	overflow:hidden;
}
#header-content{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index:666;
}
#header{
	position:absolute;
	width:100%;
	height:100%;
}
h1.title{
	text-align:center;
	font-size:6.6vw;
}
.nav{
	text-align:center;
}
.nav li{
	margin:10px;
	font-size:2.6vw;
	display:inline-block;
}
/* 菜单的变换 */
.test>div{
	top:80px !important;
}
.test>div>h1{
	font-size:40px !important;
}
.test>div>.nav li{
	font-size:20px !important;
}
.test div.xia{
	opacity:0;
	top:50px !important;
	display: none;
}
.xia{
	position:absolute;
	top:85%;
	left:50%;
	transform: translate(-50%,-50%);
}
.xia img{
	width:80px;
}
.wrapper{
	position:relative;
	top:100px;
	margin:0 auto;
	padding:5px;
	width:100%;
	height:70%;
	background:red;
}
.a{
	width:60%;
	margin:0 auto;
}
.t{
	float:left;
	margin:5px;
	width:300px;
	height:100px;
	background:black;
}
.tt{
	float:left;
	margin:5px;
	width:100px;
	height:100px;
	background:#ccc;
}
.ttt{
	float:left;
	margin:5px;
	width:100px;
	height:100px;
	background:#ddd;
}